# Contents - Why BASIC is typically unsuitable for smooth arcade-style animation: interpreter overhead, repeated parsing of lines, slow PEEK/POKE hardware access, insufficient update rates for 30+ fps; introduces need for faster approaches.

Chapter 2 
A Language for Games 



The first question that arises when you are starting 
work on a computer project is, "What language 
should I program in?" Your first inclination might 
be to use BASIC. However, if your program is us- 
ing any type of continuous motion, BASIC would 
most likely be too slow to be useful. If you try to 
write anything more than the most simplistic game 
in BASIC, you will find the motion of the objects 
slow and erratic. There are limits to how quickly 
sounds and colors can be changed. 

All of these problems arise because the BASIC 
interpreter controls the computer, not the program. 
Every line in a BASIC program must be analyzed, 
decoded, and translated into a series of machine 
language instructions EVERY time the line is en- 
countered. BASIC is also a very general language 
in that similar lines may have different functions. 
By the time a line is analyzed, the resulting section 
of machine code is not efficient. For all of these 
reasons, a BASIC program will never run particular- 
ly fast. 

To achieve smooth animation, the program must 



be able to update the screen at least 30 times per 
second. Because BASIC does not have an easy way 
to talk to the hardware registers, (PEEK and POKE 
commands must be used), calculating new positions 
and updating the registers can easily take longer 
than 1 /30 second, causing erratic motion. This same 
problem occurs when the sound registers must be 
updated. There may not be enough time to make 
a consistent sound. 


---
Additional information can be found by searching:
- "machine_language_overview" which expands on advantages of machine language over BASIC
- "assembly_language_definition" which expands on assembly as practical alternative to machine code
