# Contents - Describes assembler support for defining data areas and tables (naming, mathematical expressions, byte-sized and two-byte values), options for byte order (high/low first), and text storage options such as storing characters with the high bit set to mark string ends. Concludes with the basic requirement that an assembler accept assembly language commands.

An assembler must also provide some means 
of defining data areas and data. Tables of data can 
be defined, given a name, and stored by the 
assembler. A good assembler allows you to define 
data in terms of mathematical expressions. It also 
allows data to be defined as one or two byte values. 
There is a further option on two byte values as to 
whether the high byte or the low byte will be stored 
first. For many programs, text must be stored for 
later printing. On some assemblers, you have the 
option for text to be stored with the high bit on or 



off. This can be useful for finding the end of a text 
string. 

Finally, an assembler must allow you to enter 
assembly language commands. After all, that is the 
point of an assembler. 


---
Additional information can be found by searching:
- "code_reuse_and_library_practices" which expands on previous: reuse practices and where to store commonly used routines
